[Unit]
Description=Starts the Nodejs Eventlocator Backend Server
After=mysqld.service
After=nginx.service

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/node /var/www/html/TG_7_EventLocator/backend/server/index.js
Restart=on-failure
WorkingDirectory=/var/www/html/TG_7_EventLocator/backend/server
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

